.tabla{
  
  
  background:rgb(249, 252, 252)
}

.formulario{
  padding-right: 150px;
  padding-block-start: 100px;
  padding : 100px;
  padding-left: 150px;
  
  
}
#formEstadistica{
  padding : 10px;
 
}
.container{
  margin:0 auto;
  
}

#basic-addon1{
  background-color: #276CAA;
  color: white;
 

}

.logo{
  display: block;
  width: 500px;
  height: 100px;
  margin-right: 15px;
  
}
.title{
  padding: 20px;
  font-family: 'Bevan' ;
  margin-left: 100px;
  color: black;
  

}
.header{
  background: #E0FFFF;
}
titulo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  color:black
}
.Select-placeholder{
  color: black
  
}
.form-placeholder{
  color: black
}
.Select-control{
  background-color: #f7f7f7;
  border: #9c9a9a;
}
.form-control {
  border: #9c9a9a;
  background-color: #f7f7f7;
}